@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body {
  background-size: cover;
}

header {
  text-align: center;
  font-size: 50px;
  position: fixed;
  width: 100%;
  color: #b47eb3;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #fff;
  margin-top: -10px;
}

#header-background {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: -1; 
  margin: -10px;
  margin-top: -20px;
}
  
#navbar{
  padding: 0;
  overflow: hidden;
  margin-left: -8px;
  margin-top: -40px;
}
  
.navbar-button {
  color: grey;
  background-color: rgb(235, 255, 235);
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid grey;
  width: 40%;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  
.navbar-button:hover {
  background-color: rgb(222, 254, 222);
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

#select-meal {
  font-size: 25px;
  text-align: center;
  color: #eea9ee;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.meal-button {
  background-color: #fdf5df;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  border-color: #ffd5ff;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffa8e4;
  width: 100px;
}

.meal-button:hover {
  background-color: #ffd5ff;
}

.margin-right {
  margin-right: 10px;
}

#selected-meal {
  text-align: center;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #8bb8a8;
}

#generate-recipe {
  font-size: 28px;
  padding: 15px;
  border-radius: 30px;
  background-color: #ddfbf5;
  color: #5fa898;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: 1.5px solid;
  width: 50%;
  cursor: pointer;
}

#generate-recipe:hover {
  background-color: #cdf4ed;
}

/* Gallery layout for recipes generated */

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card{
  flex: 0 0 200px; margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  text-align: center;
}
.container img{
  max-width: 100%;
}
.texts{
  padding: 5px; margin-bottom:10px;
}
.texts button{
  border: none; padding: 5px 15px;
  background: #566270; color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.texts button:hover{
  background: #E0E3DA; color: #566270; cursor: pointer;
}


/* Jordyn */

.footer {
  position: relative;
  width: 100%;
  background: #ddfbf5;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(236, 175, 236)
}

.social-icon {
  display: flex;
  justify-content: flex-start; /* Align icons to the left */
  align-items: center;
  margin: 10px 0;
  padding-left: 0; 
  list-style-type: none; /* Remove bullet points from list items */
}

.social-icon-footer {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: nowrap; 
}

.social-icon__item,
.menu__item {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-icon__link {
  font-size: 2rem;
  color: #410e0e;
  margin: 0; 
  padding: 0; 
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link-footer {
font-size: 2rem;
color: rgb(232, 198, 232);
margin: 0; 
padding: 0; 
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.social-icon__link-footer:hover {
transform: translateY(-10px);
}
.footer_text{
  color: rgb(232, 198, 232);
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  padding-left: 30px;
}

